package shared

import (
	"github.com/gofabrik/fabrik/cli"
	"github.com/gofabrik/fabrik/httpserver"
)

// Start the HTTP server.
//
//fabrik:cli:command
func Run(ctx cli.Context, server *httpserver.Server) error {
	return server.Run(ctx)
}
