package shared

import (
	"context"
	"log/slog"
	"os"
)

//fabrik:hook setup
func InitLogger(_ context.Context, l *Log) error {
	var level slog.Level
	if err := level.UnmarshalText([]byte(l.Level)); err != nil {
		return err
	}
	slog.SetDefault(slog.New(slog.NewTextHandler(os.Stderr, &slog.HandlerOptions{Level: level})))
	return nil
}
