package shared

import (
	"fmt"
	"strings"
	"time"

	"github.com/gofabrik/fabrik/web"
)

// NewTemplateFuncs supplies the app's static template helpers.
//
//fabrik:provider
func NewTemplateFuncs() web.FuncMap {
	return web.FuncMap{
		"shout":       strings.ToUpper,
		"humanizeAge": humanizeAge,
	}
}

func humanizeAge(t time.Time) string {
	d := time.Since(t).Round(time.Second)
	switch {
	case d < time.Minute:
		return fmt.Sprintf("%ds", int(d.Seconds()))
	case d < time.Hour:
		return fmt.Sprintf("%dm", int(d.Minutes()))
	default:
		return fmt.Sprintf("%dh", int(d.Hours()))
	}
}
