go 1.26

use (
	./assetmapper
	./assetmapper/directive
	./cache
	./cache/dbtest
	./cli
	./cli/directive
	./config
	./config/directive
	./diag
	./examples/demo
	./fabrik
	./flash
	./forms
	./gen
	./httpserver
	./jobs
	./jobs/dbtest
	./jobs/directive
	./mail
	./migrations
	./migrations/dbtest
	./migrations/directive
	./query
	./query/dbtest
	./ratelimit
	./ratelimit/dbtest
	./router
	./router/bench
	./router/directive
	./session
	./session/dbtest
	./storage
	./templates
	./templates/directive
	./validation
	./web
	./web/directive
)

replace (
	github.com/gofabrik/fabrik/assetmapper v0.1.0 => ./assetmapper
	github.com/gofabrik/fabrik/assetmapper/directive v0.1.0 => ./assetmapper/directive
	github.com/gofabrik/fabrik/cache v0.1.0 => ./cache
	github.com/gofabrik/fabrik/cli v0.1.0 => ./cli
	github.com/gofabrik/fabrik/cli/directive v0.1.0 => ./cli/directive
	github.com/gofabrik/fabrik/config v0.1.0 => ./config
	github.com/gofabrik/fabrik/config/directive v0.1.0 => ./config/directive
	github.com/gofabrik/fabrik/diag v0.1.0 => ./diag
	github.com/gofabrik/fabrik/fabrik v0.1.0 => ./fabrik
	github.com/gofabrik/fabrik/flash v0.1.0 => ./flash
	github.com/gofabrik/fabrik/forms v0.1.0 => ./forms
	github.com/gofabrik/fabrik/gen v0.1.0 => ./gen
	github.com/gofabrik/fabrik/httpserver v0.1.0 => ./httpserver
	github.com/gofabrik/fabrik/jobs v0.1.0 => ./jobs
	github.com/gofabrik/fabrik/jobs/directive v0.1.0 => ./jobs/directive
	github.com/gofabrik/fabrik/mail v0.1.0 => ./mail
	github.com/gofabrik/fabrik/migrations v0.1.0 => ./migrations
	github.com/gofabrik/fabrik/migrations/directive v0.1.0 => ./migrations/directive
	github.com/gofabrik/fabrik/query v0.1.0 => ./query
	github.com/gofabrik/fabrik/ratelimit v0.1.0 => ./ratelimit
	github.com/gofabrik/fabrik/router v0.1.0 => ./router
	github.com/gofabrik/fabrik/router/directive v0.1.0 => ./router/directive
	github.com/gofabrik/fabrik/session v0.1.0 => ./session
	github.com/gofabrik/fabrik/storage v0.1.0 => ./storage
	github.com/gofabrik/fabrik/templates v0.1.0 => ./templates
	github.com/gofabrik/fabrik/templates/directive v0.1.0 => ./templates/directive
	github.com/gofabrik/fabrik/validation v0.1.0 => ./validation
	github.com/gofabrik/fabrik/web v0.1.0 => ./web
	github.com/gofabrik/fabrik/web/directive v0.1.0 => ./web/directive
)
