go 1.26

use (
	./assetmapper
	./assetmapper/directive
	./config
	./config/directive
	./diag
	./examples/demo
	./fabrik
	./flash
	./gen
	./jobs
	./jobs/dbtest
	./jobs/directive
	./migrations
	./migrations/dbtest
	./migrations/directive
	./query
	./query/dbtest
	./router
	./router/directive
	./session
	./session/dbtest
	./templates
	./templates/directive
	./web
	./web/directive
)
