go 1.26

use (
	./assetmapper
	./assetmapper/directive
	./config
	./config/directive
	./diag
	./examples/demo
	./fabrik
	./gen
	./migrations
	./migrations/dbtest
	./migrations/directive
	./router
	./templates
	./web
	./web/directive
	./templates/directive
	./router/directive
)
